<h3>@<%= session[:username] %>'s Profile</h3>
Name: <%= session[:name] %> <br />
Email: <%= session[:email] %><br />
Followers:
<% followers = Follow.where(user_id: session[:id]).order('id DESC') %>
<% comma = false %>
<% followers.each do |f| %>
	<% followerName = User.find(f.follower_id).username %>
	<%= "<a href='/user/#{followerName}'>@#{followerName}</a>" %>
	<% if comma %>
		<%= ", " %>
	<% end %>
<% end %>
<br />
Following:
<% followers = Follow.where(follower_id: session[:id]).order('id DESC') %>
<% comma = false %>
<% followers.each do |f| %>
	<% followerName = User.find(f.user_id).username %>
	<%= "<a href='/user/#{followerName}'>@#{followerName}</a>" %>
	<% if comma %>
		<%= ", " %>
	<% end %>
<% end %>