<div class="well">
	<h3 style="display:inline; !important">@<%= username %></h3>
	<br /><br />
	<form action='/tweet' method='post' class="form-inline">
		<textarea rows="4" cols="44" placeholder="What's happening?" name="tweet"></textarea>
		<br /><br />
		<input class="btn primary" type='submit' value='tweet'>
	</form>
</div>
<div class="well">
<%= '*******************' %>
<%= "SELECT DISTINCT Tweets.id, Tweets.text, Users.username, Tweets.created_at FROM Tweets, Follows INNER JOIN Users ON Users.id = Tweets.owner WHERE (Tweets.owner = Follows.userId AND Follows.followerId = #{session[:id]}) OR (Tweets.owner = #{session[:id]}) ORDER BY Tweets.created_at DESC" %>
<%= '*******************' %>
<% tweets = Tweet.find_by_sql("SELECT DISTINCT Tweets.id, Tweets.text, Users.username, Tweets.created_at FROM Tweets, Follows INNER JOIN Users ON Users.id = Tweets.owner WHERE (Tweets.owner = Follows.userId AND Follows.followerId = #{session[:id]}) OR (Tweets.owner = #{session[:id]}) ORDER BY Tweets.created_at DESC") %>
<% addline = false %>
<% tweets.each do |t| %>
	<% if addline %> <br /> <% end %>
	<%= "<a href='/user/#{t.username}'>@#{t.username}</a>: #{t.text} <br />" %>
	<% addline = true %>
<% end %>
</div>